*{
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
}
html{
background-color: #000;
padding: 10px;
}
body{
background-color: #fff;
border-radius: 10px;
margin: 0;
position: relative;
}
section{
position: relative;
}
img {
max-width: 100%;
}
.h-flex,
.v-flex{
display: flex;
}
.h-flex{
flex-direction: row;
}
.v-flex{
flex-direction: column;
}
#fluid {
position: fixed;
top: 0;
left: 0;
width: 100dvw;
height: 100dvh;
}

