*{
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
}
html{
background-color: #000;
padding: 10px;
}
body{
font-family: "JetBrains Mono", monospace;
font-optical-sizing: auto;
font-weight: 400;
font-size: 16px;
font-style: normal;
background-color: #fff;
border-radius: 10px;
margin: 0;
position: relative;
}
section, main, header, footer{
position: relative;
}
img {
max-width: 100%;
}
.h-flex,
.v-flex{
display: flex;
}
.h-flex{
flex-direction: row;
flex-flow: wrap;
justify-content: flex-start;
align-items: stretch;
}
.v-flex{
flex-direction: column;
}
.container {
position: relative;
margin: 0 auto;
padding: 0 20px;
max-width: 1280px;
width: 100%;
}
#fluid {
position: fixed;
top: 0;
left: 0;
width: 100dvw;
height: 100dvh;
}
.top-bar {
justify-content: center;
}
.top-left-space, .top-right-space {
flex: 1;
}
.top-notch {
background-color: #000;
color: #fff;
padding: 10px 24px;
border-radius: 0 0 24px 24px;
align-items: center;
gap: 36px;
}
.top-notch-flex {
gap: 12px;
align-items: center;
}
.top-notch-image {
width: 40px;
height: 40px;
object-fit: cover;
border-radius: 50%;
}
