<header class="site-header">
<div class="container">
<div class="h-flex top-bar">
<div class="top-left-space"></div>
<div class="h-flex top-notch">
<div class="h-flex top-notch-flex">
  <img src="https://lh3.googleusercontent.com/ogw/AF2bZyi77UQdqrk8BpKz914J0yBjtljhaGW7O905rwWvNII7jd8x=s64-c-mo" alt="" class="top-notch-image" />
  <div class="v-flex">
    <div class="">Sameer Thakur</div>
    <div class="">Web Devloper</div>
  </div>
</div>
<div class="current-time"></div>
</div>
<div class="top-right-space"></div>
</div>
</div>
</header>
